@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.header{
    border-bottom: 1px solid rgb(224, 224, 224);
}
.cover{
    height: 280px;
}
.main{
    max-width: 800px;
}

.profile{
    transform: translateY(-50%);
}

.title{
    font-weight: 800;
}



.widthMax{
    max-width: 1400px;
}

.familyImage{
    min-width: 300px;
}

.aboutText{
    max-width: 900px;
}