@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.header{
    border-bottom: 1px solid rgb(224, 224, 224);
}
.cover{
    height: 280px;
}
.main{
    max-width: 800px;
}

.profile{
    transform: translateY(-50%);
}

.title{
    font-weight: 800;
}



.widthMax{
    max-width: 1400px;
}

.familyImage{
    min-width: 300px;
}

.aboutText{
    max-width: 900px;
}


.faq{
  max-width: 1000px;
  
}
.secondMaxWidth{
  max-width: 1200px;
}



.accordion {
  background-color: #3b82f6;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordion-btn {
  padding: 24px 36px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-btn p {
  margin-right: 2rem;
}

.accordion-btn p {
  color: white;
}

.acordion-header-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  border-radius: 4px;

  font-size: 1rem;

  transition: all 0.2s ease;
}




.accordion-content {
  padding: 24px 36px;
  padding-top: 24px;
  background-color: rgb(238, 238, 238);
  transition: all 0.2s ease;
  user-select: none;
}

.accordion-body {
  height: 0;
  transition: all 0.2s ease;
}

@media (max-width: 400px) {
  .accordion-btn {
    padding: 18px 1rem;
  }
  .accordion-content {
    padding: 18px 1rem;
    padding-top: 0;
  }
}





.topCategoryGrid{
  grid-template-columns: 130px 80px 1fr;
}


.mainCategoryGrid{
  grid-template-columns: 130px 80px 1fr;

}
.sharkCategoryImage img{
  transition: 0.1s;
  max-width: 54px;
  min-width: 54px;
  width: 100%;
}
.sharkCategoryImage:hover{
  z-index: 100 !important;

}

.sharkCategoryImage:hover img{
  transform: scale(2);
}


